h1{
    color: green;
    font-size: 45px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
p{
    font-size: 45px;
}


body{
    background-color: wheat;

}